<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <a href="/">
  <img class="avatar" src="{{site.baseurl}}/public/pic.png"/>
</a>

  <div class="sidebar-item">
   <p>
      I'm a UX/UI designer who believes in innovation, creativity, hard work 		and a lot of coffee. Enjoy my blog and feel free to say hey :-) 
    <a href="http://twitter.com/hilapeleg">@hilapeleg</a>
    </p>
     
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item" href="/articles">All Articles</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
