<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <a href="{{site.baseurl}}">
    <img class="avatar" src="{{site.baseurl}}public/pic.png"/>
  </a>

  <div class="sidebar-item">
    <p>
    Hila Peleg | UX Designer<br>
	Always looking ahead for the next challenge.<br>
	
    Feel free to<br>
      <br>
      
   <a href="http://twitter.com/hilapeleg">@hilapeleg</a><br>
   <a href="mailto:hilapeleg@gmail.com?Subject=Hey!" target="_top">
      Or just say hey!</a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{site.baseurl}}">Home</a>
    <a class="sidebar-nav-item" href="{{site.baseurl}}articles">All Articles</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
